body{
	margin: 0;
	padding: 0;
}

.wrapper{
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}

/*header start*/
header{
	padding: 10px 0;
	background: #fff;
}

.logo{
	width: 20%;
	float: left;
}

.logo img{
	width: 100%;
}

.menu{
	width: 70%;
	float: right;
}

.menu ul {
	float: right;
}

.menu ul li{
	list-style: none;
	float: left;
}

.menu ul li a{
	font-family: sans-serif;
	font-weight: 700;
	font-size: 14px;
	color: #9196A1;
	padding: 0 25px;
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	transition: .3s;
}

.menu ul li:last-child a{
	padding-right: 0;
}

.menu ul li a:hover{
	color: #000;
}
/*header end*/

/*banner end*/
.banner{
	background: url("../images/home.jpg") no-repeat;
	background-size: cover;
	padding: 80px 0 150px 0;
}

.b_content{
	width: 25%;
	padding: 15px;
	background: rgba(0,0,0,.5);
}

.b_content h1{
	font-family: sans-serif;
	font-weight: 400;
	font-size: 35px;
	color: #fff;
	text-transform: uppercase;
	margin: 0;
	
}

.b_content p{
	font-family: sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #fff;
	margin: 0;
	line-height: 24px;
}

.b_content button{
	background: #000;
	font-family: sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #fff;
	margin: 20px 0;
	padding: 15px 10px;
	border: 0;
	border-radius: 5px;
	transition: .5s;
}

.b_content button:focus{
	outline: 0;
}

.b_content button:hover{
	color: #000;
	background: #fff;
}
/*banner start*/